<!DOCTYPE html>
<html>
<head>
	<title>Users</title>

</head>
<p>&nbsp;</p>
<body onload="browseUser()">
	<h1>Users</h1>     
    <nav>
        <a href="{{ url_for('home') }}">Home</a> |
        <a href="{{ url_for('users') }}">Users</a> |
        <a href="{{ url_for('recipes') }}">Recipes</a> |
        <a href="{{ url_for('ingredients') }}">Ingredients</a> | 
        <a href="{{ url_for('dietaryRestrictions') }}">Dietary Restrictions</a> |
        <a href="{{ url_for('userRecipes') }}">User Recipes</a> |
        <a href="{{ url_for('recipeIngredients') }}">Recipe Ingredients</a>
    </nav>
	
    <div id="browse">
		<p><strong>Browse Users</strong></p>
        <table border="1" cellpadding="5">
            <tr>
                <th><a>Edit</a></th>
                <th><a>Delete</a></th>
                <th>userId</th>
                <th>email</th>
                <th>restrictionId</th>
            </tr>
            {% for user in users %}
            <tr>
                <td><a href="edit_user/{{user.userID}}">Edit</a></td>
                <td><a href="delete_user/{{user.userID}}" class="btn btn-default">Delete</a></td>
                <td align="right">{{ user.userID }}</td>
                <td>{{ user.email }}</td>
                <td align="right">{{ user.restrictionID }}</td>
            </tr>
            {% endfor %}
        </table>   

        <form id="searchUser" action="/search_users" method="get">
            <input type="text" id="q" name="q" placeholder="Search for users...">
            <input type="submit" value="Search">
        </form>

	<p>&nbsp;</p>
	</div>	<!-- browse -->
	
	<div id="insert">
		<!-- form to INSERT new data into bsg_people-->
		<form id="insertUser" action="/users" method="post">
			<legend><strong>Add User</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="make">email:</label>
				<input type="email" class="form-control" id="email" name="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" placeholder="" required>

				<label for="restrictionID">dietary restriction:</label>
                <select class="form-control" id="restrictionID" name="restrictionID" required>
                    <option value="null">No restriction</option>
                    {% for restriction in dietaryRestrictions %}
                    <option value="{{ restriction.restrictionID }}">{{ restriction.name }}</option>
                    {% endfor %}
                </select>

            </fieldset>

            <!-- Create 'Add User' and 'Cancel' buttons -->
			<input type="submit" value="Add User" name="Add_User" class="btn btn-primary" style="margin:.5rem;">
        </form>
	</div><!--insert-->

	
	

</body>
</html>